@tailwind utilities;

@import "tailwindcss";


@theme{
    --color-blackDark :#00000050;
    --color-dullWhite : #FFFFFFB3;
    --color-whiteLight : #FFFFFF30;
    --color-whiteMedium : #FFFFFF40;
    --color-neonBlue: #2FB8FF;
}